.pc-nav {
  position: relative;
  overflow: hidden;

  ul {
    position: relative;
    overflow: hidden;

    li {
      float: left;
      width: calc(100% / 6);
      box-sizing: border-box;

      a {
        position: relative;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        padding: 1.2rem;
        text-align: center;
        font-size: .8rem;
        color: #fff;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          width: 1px;
          height: 60%;
          background-color: #d2d2d2;
        }
      }

      &:last-child a::after {
        content: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .pc-nav ul li a {
    padding: 1.2rem 10px;
    font-size: 0.7rem;
  }

  #ranking h2.ttl2 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .pc-nav ul li {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 49%;

    a {
      padding: 10px 0;
      text-align: left;
      border-bottom: 0;

      &::after {
        content: none;
      }
    }
  }
}

footer {
  h2 {
    margin: 0 auto 2rem auto;
  }

  img {
    width: 200px;
    height: auto;
  }
}

.foot-link li {
  margin: 0 1rem;

  a {
    font-size: 0.8rem;
  }
}

.foot-sns {
  margin: 2rem auto;

  a {
    font-size: 1.4rem;

    img {
      max-width: 22px;
      max-height: 22px;
    }
  }

  li:last-child {
    font-size: 0;

    a {
      font-size: 0;
    }
  }
}

.common-bg-campaign {
  overflow: hidden;
  background: url('../images/bg_cta.png');
}

.common-campaign-phone {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.ttl-ft-campaign01 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.common-box-campaign p {
  margin-bottom: 2rem;

  img {
    max-width: inherit;
    width: 100%;
    height: auto;
  }
}

.btn-campaign {
  text-align: left;

  a {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 55px;
    min-width: 430px;
    background: #ffe400;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 0 #d4bf09;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .foot-link li {
    margin: 0 0.5rem 0.5rem auto;
  }

  .ttl-ft-campaign01 {
    margin: 0 0 15px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .btn-campaign a {
    padding: 10px 25px;
    min-width: inherit;
    width: 100%;
    min-width: inherit;
  }

  .ft-campaign-about p {
    font-size: 0.8rem;
  }

  .common-campaign-phone {
    position: static;
    width: 100%;
    height: 300px;
    margin-top: 2rem;
    box-sizing: border-box;
    padding: 0 40px;
  }
}

#breadcrumbs {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 1rem;
  font-size: .8rem;
  color: #666;
}

.main-wrap {
  position: relative;
  display: flex;
}

#main-content {
  flex: 1;
  max-width: calc(100% - 330px);

  .post-list {
    text-align: left;

    li {
      width: 45%;
      margin: 0 4.5% 2rem auto;

      &:nth-child(2n) {
        margin: 0 auto 2rem auto;
      }

      .txt {
        padding: 1.6rem 0;
      }
    }
  }
}

.cat-child a {
  display: block;
  padding: .3rem .5rem;
  line-height: 1;
  font-size: 0.9rem;
}

.wp-pagenavi {
  text-align: center;

  a {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
  }

  .page {
    margin: 0 .5rem;
    box-sizing: border-box;
    padding: 0.4rem 0.7rem;

    &:hover {
      color: #fff;
      background-color: #3E3A39;
    }
  }

  .current {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5rem;
    padding: .4rem .7rem;
    color: #fff;
    background-color: #3E3A39;
  }
}

#sidebar {
  position: relative;
  width: 330px;
  height: auto;
  will-change: min-height;
  margin-left: 50px;

  .inner {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0 auto 1.5rem;
    padding-bottom: .5rem;
    border-bottom: solid 2px #d2d2d2;
  }
}

.followBox li a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 6px;
  background: #fafafa;
  border-bottom: #e5e5e5 solid 3px;
  padding: 1.3rem 1rem;

  img, i {
    margin-right: 1rem;
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: middle;
  }
}

.popular-posts li {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    > span {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding-top: .3rem;
      padding-left: .3rem;
      color: #A5A5A5;
      font-size: .7rem;

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: -1.6rem;
        left: -1.6rem;
        width: 3.2rem;
        height: 3.2rem;
        background-color: #fff;
        transform: rotate(45deg);
      }
    }
  }

  img {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }

  .txt {
    display: inline-block;
    vertical-align: top;
    width: 68%;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 10px;

    p {
      font-size: .8rem;
      margin: 0 auto 0.3rem auto;

      span:last-child {
        float: right;
      }
    }

    h4 {
      font-size: .8rem;
      font-weight: normal;
      margin: 0 auto;
    }
  }
}

#sidebar {
  .irui-list li, .tag-list li {
    display: inline-block;
    vertical-align: top;
    margin-right: .5rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
  }

  .irui-list a, .tag-list a {
    display: block;
    font-size: .9rem;
    line-height: 1;
    box-sizing: border-box;
    padding: 0.3rem 0.5rem 0.2rem 0.5rem;
  }
}

@media (max-width: 980px) {
  #breadcrumbs {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 0.6rem;
  }

  .main-wrap {
    display: block;
  }

  #main-content, #sidebar {
    position: relative;
    display: block;
    margin: 0 auto 2rem auto;
    width: 100%;
  }

  #main-content .post-list li {
    width: 100%;
    margin: 0 auto 1rem auto;

    &:nth-child(2n) {
      margin: 0 auto 1rem auto;
    }

    .txt {
      padding: 1rem 0;
    }
  }

  #sidebar {
    margin-bottom: 0;
  }
}

.postttl {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 auto 1.5rem auto;
}

.meta {
  margin: 0 auto 2rem auto;

  time {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    padding: 0.2rem 0.5rem;
  }
}

.i-catch {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto 2rem auto;

  img {
    width: 100%;
    height: auto;
  }

  .youtube-wrap {
    position: relative;
    padding-top: 75%;
    background-color: #eee;
  }

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
}

.youtube-txt p {
  color: #848484;
  font-size: 0.8rem;
}

@media (max-width: 480px) {
  .postttl {
    font-size: 1.4rem;
  }

  .i-catch .youtube-wrap {
    padding-top: 100%;
  }
}

#toc_container {
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 100% !important;
  border: 2px solid #3E3A39 !important;
  margin-bottom: 2rem;
  background-color: #fff;

  p.toc_title {
    background-color: #3E3A39;
    color: #fff;
    padding: 0.5rem 1rem;

    a {
      color: #fff;
    }

    + ul.toc_list {
      margin: 0 auto;
      padding: 1rem 1rem 1rem 2rem;
      box-sizing: border-box;
      display: block;
      width: 100%;
    }
  }

  .toc_list > li:last-child {
    margin: 0 auto;
  }

  li {
    margin-bottom: 1em;
    list-style-type: decimal !important;
    box-sizing: border-box;
  }

  ul ul {
    margin: 0;
    box-sizing: border-box;
    padding-left: 1em;
    margin-top: 0.5em;

    li {
      margin-bottom: .5em;
      list-style-type: none !important;
    }
  }
}

.wpcf7 {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

div.wpcf7 .ajax-loader {
  display: block;
  margin: 0.5rem auto 0 auto;
}

.must {
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  margin-right: .5rem;
  padding: 5px 9px;
  background: #f92931;
  border-radius: 20px;
  font-size: 0.8rem;
}

.tyui {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: baseline;
  color: #ababab;
  margin-right: .5rem;
  font-size: .7rem;
  font-weight: normal;
}

.free {
  color: #fff;
  margin-right: 10px;
  padding: 6px 10px;
  background: #424242;
  border-radius: 20px;
}

.wpcf7 form p {
  font-weight: 600;
  margin-bottom: 2rem;
}

input.wpcf7-form-control.wpcf7-text {
  width: 100%;
  padding: 8px 15px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  box-sizing: border-box;
  color: #535353;
}

textarea.wpcf7-form-control.wpcf7-textarea {
  width: 100%;
  padding: 8px 15px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  box-sizing: border-box;
  color: #535353;
  height: 200px;
}

input.wpcf7-submit {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  min-width: 240px;
  height: auto;
  line-height: 1;
  font-size: 1rem;
  color: #3E3A39;
  border-radius: 30px;
  border: solid 1px #3E3A39;
  padding: 20px 0;
  text-align: center;
  transition: 0.3s;

  &:hover {
    color: #fff;
    background-color: #3E3A39;
  }
}

span.wpcf7-not-valid-tip, .wpcf7-response-output.wpcf7-validation-errors {
  color: red;
  font-weight: 600;
}

.modaal-container {
  max-width: 500px;
}

.modaal-close {
  position: absolute;
  top: -3rem;
  right: -3rem;
}

.modaal-wrap {
  display: none;

  .hidden {
    display: none;
  }
}

.form-wrap .search {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem .5rem .5rem 2.5rem;
  border-radius: 100px;
  border: 0;
  background-color: #eee;
  -webkit-appearance: none;
}

.modaal-content-container .form-wrap::before {
  z-index: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f002';
  color: #a0a0a0;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.target-area li a {
  display: block;
  font-size: .95rem;
  padding: 0.5rem 0;
}

@media (min-width: 769px) {
  .target-area li a:hover {
    color: #3E3A39;
  }
}

@media (max-width: 768px) {
  .modaal-close {
    top: -3rem;
    right: 0;
  }
}

.cta-faq {
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
  margin-top: 3rem;
  border-top: solid 2px #3E3A39;
  border-bottom: solid 2px #3E3A39;

  h2 {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .2rem;
    padding-bottom: 0;
    margin: 0 auto 1rem auto;
    border-bottom: 0;

    &:after {
      content: none;
    }
  }

  h3 {
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: normal;
    margin: 0 auto 2rem auto;
    background-color: #3E3A39;
    background-image: none;
    color: #fff;
    border-radius: 100px;
  }
}

#showroom {
  h2 {
    letter-spacing: .2rem;
    line-height: 1.7;
    font-size: 2.125rem;
    font-weight: normal;
    margin: 1em auto;
  }

  p {
    font-size: .875rem;
    margin: 0;
    letter-spacing: .1rem;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    > div {
      z-index: 1;
      position: relative;
      width: 50%;
      background-image: url('../images/bg_showroom01.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      color: #fff;

      a {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 3rem 0;
      }

      &:last-child {
        background-image: url('../images/bg_showroom02.png');
      }

      &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }

      a {
        p span {
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          box-sizing: border-box;
          padding: .3rem .5rem;
          border: solid 1px #fff;
        }

        h3 {
          margin: 1.5rem auto 0 auto;
          font-weight: normal;
          font-size: 2.125rem;
          letter-spacing: .3rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cta-faq {
    padding: 2rem 0;

    h2 {
      font-size: .8rem;
      font-weight: normal;
      letter-spacing: normal;
    }

    h3 {
      font-size: 1rem;
      letter-spacing: normal;
    }

    p {
      text-align: left;
    }
  }

  #showroom {
    h2 {
      font-size: 1.1rem;
    }

    p {
      font-size: .875rem;
    }
  }
}

@media (max-width: 420px) {
  #showroom .flex {
    display: block;

    > div {
      width: 100%;
    }
  }
}