/* font-size */
$font-size-base: 1rem;
$font-size-lg: $font-size-base*1.5;

/* colors */
$body: #3E3A39;
$white: #fff;
$dark: #333;
$primary: #3E3A39;
$gray-1: #f5f5f5;
$gray-2: #eee;
$link: #337fbc;

/* breakpoints */
$breakpoint-xlg: 1024px;
$breakpoint-lg: 980px;
$breakpoint-md: 768px;
$breakpoint-sm: 320px;