#breadcrumbs {
  max-width: $breakpoint-xlg;
  margin: 0 auto;
  padding-top: $font-size-base*1;
  font-size: $font-size-base*0.8;
  color: #666;
  @include media-lg() {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 $font-size-base;
    font-size: $font-size-base*0.6;
  }
}