body {
  font-family: 'Lato', 'Noto Sans JP', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif !important;
  font-size: 100%;
  color: $primary;
  background-color: $white;
}

button:focus,
input:focus {
  outline: 0;
}

.mincho {
  font-family: 'Noto Serif JP', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
}

.w-normal {
  font-weight: normal;
}

.wrap {
  box-sizing: border-box;
  max-width: $breakpoint-xlg;
  margin: 0 auto;
  @include media-xlg() {
    width: 100%;
    max-width: 100%;
    padding: 0 $font-size-base;
  }
}

.sec {
  box-sizing: border-box;
  padding: $font-size-base*3 0;
  @include media-xlg() {
    padding: $font-size-base*2 0;
  }
}

.max {
  clear: both;
  display: block !important;
  width: 100% !important;
  height: auto !important;
}

.sp-only {
  display: none !important;
  @include media-md() {
    display: inherit !important;
  }
}

.b {
  font-weight: bold !important;
}

.sp {
  display: none !important;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.relative {
  position: relative;
}

.abs {
  position: absolute;
}

.abs-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.abs-cr {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.abs-cl {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.abs-ct {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.abs-cb {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.dis-b {
  display: block;
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.d-i-block {
  display: inline-block;
  vertical-align: middle;
}

.head-sns.abs-cr {
  @include media-xlg() {
    right: 15px;
  }
}

.pc-only {
  @include media-md() {
    display: none !important;
  }
}

.common-hr {
  margin: $font-size-base*2 auto;
  display: block;
  height: 1px;
  border: 0;
  background-color: #d2d2d2;
}

.bg-none {
  background: none !important;
}

.ttl2 {
  position: relative;
  font-size: $font-size-base;
  font-weight: normal;
  margin: 0 auto $font-size-base*4;
  letter-spacing: $font-size-base*0.3;
  @include media-md() {
    font-size: $font-size-base*0.8;
    margin-bottom: $font-size-base*2;
  }

  span {
    &:first-child {
      display: block;
      font-family: 'Noto Serif JP', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
      font-size: $font-size-base*2.2;
      letter-spacing: $font-size-base*0.2;
      margin-bottom: $font-size-base*0.5;
      @include media-md() {
        font-size: $font-size-base*1.6;
      }
    }

    &:last-child {
      position: relative;
    }
  }
}

.ttlcat {
  font-size: $font-size-base*1.5;
  font-weight: normal;
  margin: 0 auto $font-size-base*1.5;
  @include media-md() {
    font-size: $font-size-base*1.4;
    text-align: center;
  }
}

.ttl3 {
  position: relative;
  text-align: center;
  color: $primary;
  font-size: $font-size-base*1.3;
  margin: 0 auto $font-size-base*2;
  padding-bottom: $font-size-base;

  &::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: $primary;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
  }
}

.color-blue {
  color: $link;
}

.color-blue-2 {
  color: $primary;
}

.bg-blue {
  background-color: $link;
}

.color-sky {
  color: $primary;
}

.bg-sky {
  background-color: $primary;
}

.color-gray-a {
  color: #A5A5A5;
}

.bg-gray-a {
  background-color: #F2F2F3;
}

.color-gray-b {
  color: $gray-1;
}

.bg-gray-b {
  background-color: $gray-1;
}

.color-white {
  color: $white;
}

.bg-white {
  background-color: $white;
}

.main-wrap {
  position: relative;
  display: flex;
  @include media-lg() {
    display: block;
  }
}

#main-content {
  flex: 1;
  max-width: calc(100% - 330px);
  @include media-lg() {
    position: relative;
    display: block;
    margin: 0 0 $font-size-base*3;
    width: 100%;
    max-width: 100%;
  }

  .post-list {
    text-align: left;

    li {
      width: 48%;
      margin: 0 4% $font-size-base*2 0;
      @include media-lg() {
        width: 100%;
        margin: 0 0 $font-size-base*2;
      }

      &:nth-child(2n) {
        margin: 0 auto $font-size-base*2;
        @include media-lg() {
          margin: 0 0 $font-size-base*2;
        }
      }

      .txt {
        padding: $font-size-base*1.6 0;
        @include media-lg() {
          padding: $font-size-base 0;
        }
      }
    }
  }
}

.cat-child a {
  display: block;
  padding: $font-size-base*0.3 $font-size-base*0.5;
  line-height: 1;
  font-size: $font-size-base*0.9;
}

.wp-pagenavi {
  text-align: center;

  a {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
  }

  .page {
    margin: 0 $font-size-base*0.5;
    box-sizing: border-box;
    padding: $font-size-base*0.4 $font-size-base*0.7;

    &:hover {
      color: #fff;
      background-color: #3E3A39;
    }
  }

  .current {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin: 0 $font-size-base*0.5;
    padding: $font-size-base*0.4 $font-size-base*0.7;
    color: #fff;
    background-color: #3E3A39;
  }
}

.followBox li a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 6px;
  background: #fafafa;
  border-bottom: #e5e5e5 solid 3px;
  padding: $font-size-base*1.3 $font-size-base;

  i,
  img {
    margin-right: $font-size-base;
    font-size: $font-size-base*1.3;
    display: inline-block;
    vertical-align: middle;
  }
}