header {
  position: relative;
  box-sizing: border-box;
  padding: 20px 0;
  background-color: #fff;

  h1 {
    line-height: 1;
    box-sizing: border-box;
    margin: 0;
    @include media-md() {
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: left !important;
    }

    img {
      width: 287px;
      height: auto;
      @include media-md() {
        width: auto;
        height: 38px;
      }
    }
  }

  #searchform {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    @include media-md() {
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: left !important;
      margin-top: 1.3rem;
    }

    #s {
      background-color: $gray-2;
    }
  }
}

#search-sbmit {
  cursor: pointer;
}

.head-language {
  z-index: 1;

  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    a {
      line-height: 1;
    }
  }
}

.dropdwn {
  display: flex;

  li {
    position: relative;
    display: block;
    cursor: pointer;
  }
}

.dropdwn-menu {
  z-index: 1;
  width: 100%;
  display: none;
  position: absolute;
  padding: $font-size-base*0.5 0;
  background-color: $white;

  li {
    width: 100%;

    a {
      text-align: left;
      box-sizing: border-box;
      padding: $font-size-base*0.5 $font-size-base;
      display: block;
      font-size: $font-size-base*0.8;
    }
  }
}

.drawer--right {
  .drawer-nav {
    z-index: 998;
    right: -20rem;
  }

  &.drawer-open {
    .drawer-hamburger {
      background-color: transparent;
      right: 0;
    }
  }
}

.drawer-hamburger {
  padding: 28px 20px 37px;
  z-index: 999;
  background-color: #fff;

  &:hover {
    background-color: #fff;
  }
}

.drawer-nav {
  width: 20rem;
}

.drawer-hamburger-icon {
  background-color: #3E3A39;

  &:after,
  &:before {
    background-color: #3E3A39;
  }
}

.drawer-open {
  .drawer-hamburger-icon {
    @include media-md() {
      box-shadow: none !important;
    }

    &:after,
    &:before {
      background-color: #fff;
      box-shadow: none !important;
    }
  }
}

.drawer-menu {
  box-sizing: border-box;
  padding: 20px;
}

.drawer-menu-item {
  text-align: left;
  padding: 0;
  color: #fff;
  margin-bottom: 1rem;
}

a.drawer-menu-item {
  font-size: 0.8rem;
}

.cat-link {
  a.drawer-menu-item {
    font-size: 1rem;
  }
}

.drawer-menu {
  .cat-link {
    a {
      img {
        display: inline-block;
        width: 20px;
        height: auto;
        margin-right: 0.8rem;
      }
    }
  }
}

.nav-sns a {
  font-size: 2rem;
}