.post-list {
  position: relative;
  overflow: hidden;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3%;
    text-align: left;
    box-sizing: border-box;

    .mv-ribbon {
      z-index: 10;
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #fff;
      display: inline-block;
      vertical-align: top;
      font-size: 0.7rem;
      box-sizing: border-box;
      padding: 3px 10px;
      border: solid 1px #dcdcdc;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    img {
      z-index: 1;
      width: 100%;
      height: auto;
      max-height: 234px;
      transition: 0.3s;
      object-fit: cover;
      object-position: center bottom;
    }

    a:hover img {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
    }

    .txt {
      position: relative;
      z-index: 2;
      box-sizing: border-box;
      padding-top: 1rem;

      span {
        font-size: 0.7rem;
        box-sizing: border-box;
        padding: 3px 8px;
      }

      h3 {
        font-size: 1rem;
        font-weight: normal;
        margin: 0.5rem auto 1rem;
      }

      .meta {
        font-size: 0.7rem;
        margin-bottom: 0;
      }
    }
  }

  &.ranking-list li {
    overflow: hidden;
    position: relative;
    width: 22%;
    margin-right: 2.5%;

    > span {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding-top: 0.3rem;
      padding-left: 0.3rem;
      color: #A5A5A5;

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: -2.5rem;
        left: -2.5rem;
        width: 5rem;
        height: 5rem;
        background-color: #fff;
        transform: rotate(45deg);
      }
    }
  }
}

.slick-list.draggable {
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden;
}

.feature-posts li {
  position: relative;
  overflow: visible !important;
  transform: scale(0.8);
  padding-bottom: 105px;

  &.slick-center {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .txt {
    z-index: 1;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: 165px;
    left: -80px;
    background-color: #fff;
    padding: 0;
    transition: 0.3s;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  &.slick-center .txt {
    padding: 1rem;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 1;

    .meta {
      font-size: 0.7rem;
    }

    h3 {
      font-size: 0.9rem;
    }
  }

  img {
    max-height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  &.slick-center img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.post-list {
  &.recipe-posts li.slick-slide {
    margin: 0 2rem;
  }

  &.ranking-list li {
    .txt {
      padding: 1rem 0 0;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      max-height: 171px;
    }
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
}

.slick-dots {
  position: static;
  margin-top: 2rem;

  li.slick-active button:before {
    color: #f7f7f7;
  }
}

.tag-list {
  max-width: 768px;
  margin: 0 auto;

  li {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 0.25rem 0.5rem;
  }

  a:hover {
    background-color: #f5f5f5;
  }

  li a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.2rem 0.5rem;
    line-height: 1.3;
  }
}
@media (max-width: 480px) {
  .post-list {
    li {
      display: block;
      width: 100%;
      margin: 0 auto 1rem;

      .txt {
        padding-top: 1rem;

        h3 {
          font-size: 0.9rem;
        }
      }

      &:last-child {
        margin: 0 auto;
      }
    }

    &.ranking-list li {
      display: block;
      width: 100%;
      margin: 0 auto 1rem;

      > span {
        font-size: 0.7rem;

        &::before {
          top: -1.6rem;
          left: -1.6rem;
          width: 3.2rem;
          height: 3.2rem;
        }
      }

      .txt,
      img {
        display: inline-block;
        vertical-align: top;
      }

      img {
        width: 30%;
        height: auto;
      }

      h3 {
        font-size: 0.9rem;
        margin: 0.8rem auto;
      }

      .txt {
        width: 68%;
        padding: 0 0 0 10px;
      }
    }
  }

  .feature-posts li {
    padding-bottom: 110px;

    .txt {
      top: 130px;
      left: -30px;
      width: 250px;
    }

    &.slick-center .txt {
      padding: 0.8rem;

      .meta time {
        font-size: 0.6rem;
      }

      h3 {
        margin: 0.5rem auto;
        font-size: 0.8rem;
      }
    }
  }

  .post-list.recipe-posts li.slick-slide {
    margin: 0 0.8rem;
  }

  .slick-dots {
    margin-top: 1rem;
  }

  .tag-list {
    text-align: left;

    li {
      margin-bottom: 0.8rem;
    }
  }
}

.flowering-list {
  li {
    .txt {
      h3 {
        text-align: center;
        font-weight: bold;
        margin: 0 0 $font-size-lg;
        font-size: $font-size-lg;
      }
    }
  }
}

.flower-info {
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  .flower {
    background-color: $pink;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: $font-size-base*0.5;

    span {
      font-size: $font-size-base*0.8;

      img {
        width: $font-size-base*2;
        height: auto;
        margin-right: $font-size-base*0.5;
      }
    }
  }

  .migoro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-base*0.8;
    background-color: $gray-1;
    width: 50%;
    box-sizing: border-box;
    padding: $font-size-base*0.5;
    text-align: center;
  }
}

#relation-post {
  .flower-info {
    display: block;

    & > div {
      width: 100%;
    }
  }
}